{% extends "base.html" %}

{% block content %}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h2 class="mb-4">Group 2 Syllabus</h2>
        <div class="accordion" id="cs-syllabus">
            <div class="mb-4">
                <a href="https://drive.google.com/drive/folders/1CDnooY2kKfxExZdGreJC0Rq8zQJ_rVdi" class="btn btn-primary" target="_blank">
                    <i class="fas fa-file-pdf"></i> Download Full Syllabus (PDF)
                </a>
            </div>          
           

        </div>
    </div>
</div>

{% endblock %}