{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">About Us</h4>
                </div>
                <div class="card-body">
                    <p class="card-text"> Mauris eget nisi sit amet ex tincidunt convallis. Sed sit amet nunc et nisl
                        tincidunt malesuada.
                        Nullam at urna vitae est rutrum ultrices. Nullam ut dolor a sapien ornare malesuada nec ac nisl.
                        Mauris eget
                        nisi sit amet ex tincidunt convallis. Sed sit amet nunc et nisl tincidunt malesuada.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Our Vision</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">To empower students with the skills and knowledge required to succeed in the
                        competitive
                        world.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 gap-7 mx-5">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Our Mission</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">To provide a comprehensive and interactive platform to students for their
                        holistic
                        development.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}