{% extends "base.html" %}

{% block content %}

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<div class="train" align="center">
    <h2>LIBRARY BOOKS AVAILABLE </h2>
    <div class="mb-4">
      <a href="https://docs.google.com/spreadsheets/d/1VHsGC_9hTVVWdStKcsHbQxFjGvrlMbR7/edit?gid=1013892846#gid=1013892846" class="btn btn-primary" target="_blank">
          <i class="fas fa-file-pdf"></i> Books For Reference
      </a>
  </div>   
    <table>
        <tr>
          <th>TITLE(COMPETITIVE EXAMS BOOKS ONLY)</th>
          <th>Category</th>
                    
        </tr>
        <tr>
          <td>GATE CSE</td>
          <td>GATE EXAMS</td>
       </tr>
        <tr>
          <td>GATE ECE</td>
          <td>GATE EXAMS</td>
        </tr>
        <tr>
           
          <td>GATE EEE</td>
          <td>GATE EXAMS</td>
        </tr>
        <tr>
            
          <td>GATE CIVIL</td>
          <td>GATE EXAMS</td>
          
        </tr>
        <tr>
           
          <td>GATE MECHANICAL</td>
          <td>GATE EXAMS</td>
          
        </tr>
        <tr>
          
          <td>GATE BME</td>
          <td>GATE EXAMS</td>
         
        </tr>
        <tr>
            <td>GATE IT</td>
            <td>GATE EXAMS</td>
        </tr>
        <tr>
          <td>GROUP - 1</td>
          <td>TNPSC</td>
        </tr>
        <tr>
          <td>GROUP - 2</td>
          <td>TNPSC</td>
        </tr>
        <tr>
          <td>GROUP - 3</td>
          <td>TNPSC</td>
        </tr>
        <tr>
          <td>GROUP - 4</td>
          <td>TNPSC</td>
        </tr>
        <tr>
          <td>ENG MATHS, ECE</td>
          <td>TANCET</td>
        </tr>
        <tr>
          <td>BANKING</td>
          <td>TANCET</td>
        </tr>
        <tr>
          <td>APTITUDE, REASONING, LOGICAL REASONING</td>
          <td>GENERAL</td>
        </tr>
        <tr>
          <td>RAILWAYS</td>
          <td>TANCET</td>
        </tr>
        <tr>
          <td>ENGLISH COMMUNICATION</td>
          <td>GENERAL</td>
        </tr>
        <tr>
          <td>STAFF EXAMS</td>
          <td>SSC</td>
        </tr>
        
             
      </table>
      
      
</div>
    

{% endblock %}