            <div class="row mt-5">
                <div class="col-12 text-center">
                    <h2 class="mb-4">Available Subjects</h2>
                    <ul class="list-group">
                        <li class="list-group-item">Group 1</li>
                        <li class="list-group-item">Group 2</li>
                        <li class="list-group-item">Group 2A</li>
                        <li class="list-group-item">Group 4</li>
                        <li class="list-group-item">VAO</li>
                        <li class="list-group-item">Police Constable</li>
                    </ul>
                </div>
            </div>
