{% extends "base.html" %}

{% block content %}
    <div class="text-center mt-4">
        <h2>Choose Your Exam</h2>
        <a href="{{ url_for('gate') }}" class="btn btn-primary btn-lg mx-2">
            <i class="fas fa-book"></i> GATE
        </a>
        <a href="{{ url_for('tnpsc') }}" class="btn btn-primary btn-lg mx-2">
            <i class="fas fa-book"></i> TNPSC
        </a>
        <a href="{{ url_for('library') }}" class="btn btn-primary btn-lg mx-2">
            <i class="fas fa-book"></i> LIBRARY
        </a>
    </div>
    {% endblock %}